@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    padding: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

nav {
    height: 80px;
    display: flex;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo {
    width: 56px;
}

.company__name {
    font-size: 32px;
    font-weight: 700;
    padding: 16px;
}

.nav__links {
    margin-left: 400px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__link {
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.nav__links--right {
    margin-left: 88px;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav__link--btn {
    background-color: #747bf2;
    color: #fff;
    border-radius: 16px;
}

.nav__link--btn:hover {
    background-color: rgb(100 21 255);
}

span {
    color:#747bf2;
}

/*

LANDING

*/

.header__container {
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.row {
    display: flex;
    width: 100%;
}

.header__description {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-top: 24px;
}

.comp__girl--right {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp__girl {
    width: 100%;
    height: auto;
}

.landing__logos {
    width: 100%;
    height: auto;
}

.header__title {
    font-size: 48px;
    margin-bottom: 48px;
}

.header__para {
    font-size: 16px;
    margin-bottom: 48px;
    line-height: 28px;
}

.landing__logos--caption {
    font-size: 16px;
    color:#00000090;
    margin-bottom: 16px;
}
.input__container {
    position: relative;
    width: 100%;
}
.header__form {
    max-width: 480px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 48px;
}

.header__form input[type="email"] {
    flex: 1;
    font-size: 16px;
    padding: 24px;
    border-color: #0000002f;
    border-radius: 32px;
}

.header__form button {
    position: absolute;
    left: 452px;
    background-color: #747bf2;
    color: #fff;
    border: none;
    border-radius: 36px;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 36px;
    cursor: pointer;
    margin-left: 10px;
}

.header__form button:hover {
    background-color: rgb(100 21 255);
}

/*

FEATURES

*/

.feat__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 80px 0;
}

.feat__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.feat__sub--head, 
.feat__head,
.feat__para {
    margin: 10px 0;
}

.feat__sub--head {
    font-size: 20px;
}

.feat__head {
    font-size: 56px;
}

.feat__para {
    padding: 0 240px;
}

.serv--row {
    display: flex;
    flex-wrap: wrap;
}
.feat__services {
    width: calc(100%/3);
    display: flex;
    box-sizing: border-box;
    padding: 24px;
    margin-bottom: 16px;

}

.feat__serv--icon {
    width: 56px;
    height: 56px;
    border: 2px solid #0000002f;
    border-radius: 32px;
    padding: 12px;
    margin-right: 32px;

}

.feat__serv--descript {
    display: flex;
    flex-direction: column;
}

.feat__serv--head {
    font-size: 20px;
    margin-bottom: 16px;
}

.feat__serv--para {
    font-size: 16px;
    max-width: 75%;
}

/*

QUALITY WORK

*/

.quality__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 80px 0;
}

.quality__container .row {
    width: 100%;
    margin: 0 auto;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__sub--head {
    font-size: 20px;
    margin-bottom: 20px;
}

.quality__head {
    font-size: 56px;
    margin-bottom: 20px;
}

.quality__para {
    margin-bottom: 24px;
    max-width: 88%;
}

.quality__description button {
    width: 188px;
    font-size: 16px;
    font-weight: bold;
    background-color: #747bf2;
    color: #fff;
    border: none;
    border-radius: 32px;
    padding: 20px;
}

.quality__description button:hover {
    background-color: rgb(100 21 255);
    cursor: pointer;
}

.quality__pic {
    width: 50%;
    height: auto 0;
    border: 2px solid #0000002f;
    padding: 16px;
    margin-left: 16px;
}

/*

STEPS

*/

.steps__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 80px 0;
}

.steps__container .row {
    width: 100%;
    margin: 0 auto;
}

.steps__pic {
    width: 50%;
    height: auto 0;
    padding: 16px;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.steps__steps {
   
}

.steps__num--descript {
    display: flex;
    flex-direction: column;
}