@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

nav {
    height: 80px;
    display: flex;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.burger__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #000;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #747bf2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    opacity: 1;
    visibility: visible;
}

.menu__links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.menu__list {
    font-size: 32px;
    padding: 24px 0;
}

.menu__link {
    color: #fff;
}

.burger__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.logo__container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    width: 56px;
}

.company__name {
    font-size: 32px;
    font-weight: 700;
    padding: 16px;
}

.nav__links {
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__link {
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.nav__link--login {
    margin-left: 50px;
}

.nav__link--btn {
    background-color: #747bf2;
    color: #fff;
    border-radius: 16px;
}

.nav__link--btn:hover {
    background-color: rgb(100 21 255);
}

span {
    color:#747bf2;
}

/*

LANDING

*/

.header__container {
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.row {
    display: flex;
    width: 100%;
}

.header__description {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.comp__girl--right {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp__girl {
    width: 100%;
    height: auto;
    max-height: 480px;
    margin-left: 56px;
    object-fit: cover;
}

.landing__logos {
    width: 100%;
    height: auto;
}

.header__title {
    font-size: 48px;
    margin-bottom: 48px;
}

.header__para {
    font-size: 16px;
    margin-bottom: 48px;
    line-height: 28px;
}

.landing__logos--caption {
    font-size: 16px;
    color:#00000090;
    margin-bottom: 16px;
}
.input__container {
    position: relative;
    width: 100%;
}
.header__form {
    max-width: 480px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 48px;
    position: relative;
}

.header__form input[type="email"] {
    flex: 1;
    font-size: 16px;
    padding: 20px;
    padding-right: 180px;
    border-color: #0000002f;
    border-radius: 32px;
    width: 100%;
}

.header__form button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #747bf2;
    color: #fff;
    border: none;
    border-radius: 36px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    cursor: pointer;
    white-space: nowrap;
}

.header__form button:hover {
    background-color: rgb(100 21 255);
}

/*

FEATURES

*/

.feat__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 80px 0;
}

.feat__container .row {
    flex-direction: column;
}

.feat__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.feat__sub--head, 
.feat__head,
.feat__para {
    margin: 10px 0;
}

.feat__sub--head {
    font-size: 20px;
}

.feat__head {
    font-size: 48px;
}

.feat__services {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    margin-bottom: 16px;
}

.feat__service {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: calc(100% / 3);
}

.feat__serv--icon {
    width: 56px;
    height: 56px;
    border: 2px solid #0000002f;
    border-radius: 32px;
    padding: 12px;
    margin-right: 32px;

}

.feat__serv--descript {
    display: flex;
    flex-direction: column;
}

.feat__serv--head {
    font-size: 20px;
    margin-bottom: 16px;
}

.feat__serv--para {
    font-size: 16px;
    max-width: 75%;
}

/*

QUALITY WORK

*/

.quality__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 64px 0;
}

.quality__container .row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

.quality__description {
    width: 50%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.quality__sub--head {
    font-size: 20px;
    margin-bottom: 20px;
}

.quality__head {
    font-size: 48px;
    margin-bottom: 20px;
}

.quality__para {
    margin-bottom: 24px;
    max-width: 95%;
}

.quality__description button {
    width: 188px;
    font-size: 16px;
    font-weight: bold;
    background-color: #747bf2;
    color: #fff;
    border: none;
    border-radius: 32px;
    padding: 20px;
}

.quality__description button:hover {
    background-color: rgb(100 21 255);
    cursor: pointer;
}

.quality__pic {
    width: 50%;
    min-width: 0;
    max-width: 100%;
    height: auto;
    border: 2px solid #0000002f;
    padding: 16px;
    object-fit: contain;
    flex-shrink: 1;
}

/*

STEPS

*/

.steps__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 64px 0;
}

.steps__container .row {
    display: flex;
    justify-content: space-between;
}

.img__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.steps__pic {
    width: 100%;
    height: auto;
    max-height: 372px;
    margin-top: 56px;
    object-fit: contain;
}

.steps__dots {
    display: flex;
    width: 25%;
    transform: rotate(90deg) translateX(252%);
    position: absolute;
    z-index: -1;
}

.steps__description {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.steps__sub--head {
    font-size: 20px;
    margin-bottom: 16px;
}

.steps__head {
    font-size: 48px;
    margin-bottom: 32px;
}

.steps__steps {
    display: flex;
    flex-direction: column;   
}

.steps__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.steps__num {
    margin-right: 32px;
    font-size: 48px;
    color: #0000002f;
}

.steps__num--descript {
    display: flex;
    flex-direction: column;
}

.steps__num--head {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.steps__num--para {
    max-width: 80%;
}

/*

VALUES

*/

.values__container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 64px 0;
}

.values__container .row {
    width: 100%;
    margin: 0 auto;
}

.values__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__sub--head {
    font-size: 20px;
    margin-bottom: 16px;
}

.values__head {
    max-width: 88%;
    font-size: 48px;
    margin-bottom: 32px;
}

.values__para {
    max-width: 85%;
    margin-bottom: 32px;
}

.values__princ {
    display: flex;
    margin: 0;
}

.values__item {
    margin-bottom: 40px;
}

.values__container i {
    width: 32px;
    height: 32px;
    border: 2px solid #0000002f;
    border-radius: 32px;
    padding: 6px;
    margin-right: 16px;
}

.fa-dollar-sign {
    background-color: rgb(187, 255, 187);
    color: green;
}

.fa-briefcase {
    background-color: rgb(249, 181, 181);
    color: rgb(156, 21, 21);
}

.values__item--head {
    display: flex;
    align-items: center;
    margin: 0;
    
}

.values__princ--head {
    font-size: 16px;
}

.values__princ--para {
    max-width: 88%;
    margin-top: 20px;
}

.values__pic {
    width: 50%;
    height: auto;
}

.values__container button {
    width: 188px;
    font-size: 16px;
    font-weight: bold;
    background-color: #747bf2;
    color: #fff;
    border: none;
    border-radius: 32px;
    padding: 20px;
}

.values__container button:hover {
    background-color: rgb(100 21 255);
    cursor: pointer;
}

/*

PRICING

*/

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    padding: 80px 0;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.pricing__sub--head,
.pricing__head,
.pricing__para {
    margin: 10px 0;
}

.pricing__sub--head {
    font-size: 20px;
}

.pricing__head {
    font-size: 48px;
}

.pricing__para {
    padding: 0 348px;
}

.pricing--row {
    display: flex;
}

.price__plan {
    width: calc(100% / 3);
    max-width: 320px;
    height: 464px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin-top: 80px;
}

.price__name {
    padding-top: 32px;
    margin-bottom: 12px;
}

.price__price {
    font-size: 32px;
    font-weight: bold;
}

.price__monthly {
    font-weight: bold;
    color:#0000005f;
    margin-top: 12px;
    margin-bottom: 24px;
}

.price__plan:hover {
    transform: translateY(-4px);
}

.price__perks {
    display: flex;
    flex-direction: column;
}

.price__perks--perks li:first-child {
    font-weight: bold;
}

.price__perks--perks {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #0000002f;
    border-bottom: 1px solid #0000002f;
    padding: 8px;
}

.price__perks--list {
    padding: 12px;
}

.pricing__container button {
    width: 172px;
    font-weight: bold;
    border-radius: 24px;
    border: none;
    padding: 16px;
    margin-top: 12px;
}

.pricing__container button:hover {
    cursor: not-allowed;
}

.personal--plan {
    background-color: #fff;
}

.personal--price {
    color: black;
}

.personal--btn {
    background: linear-gradient(to right, #68c0aa, #74f7d0);
    color: white;
}

.green__border {
    position: relative;
    overflow: hidden;
}

.green__border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: linear-gradient(to right, #68c0aa, #74f7d0);
    border-radius: 12px 12px 0 0;
}

.business--plan {
    background: linear-gradient(to right, #1e8ef7, #77afe393);
}

.name--bus {
    color: #fff;
}
.business--price {
    color: white;
}

.monthly--bus {
    color: #fff;
}

.price__perks--bus {
    color: #fff;
}

.business--perks {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.business--btn {
    color: rgb(100 21 255);
    background-color: white;
}
.enterprise--price {
    color: black;
}

.red__border {
    position: relative;
    overflow: hidden;
}

.red__border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: linear-gradient(to right, #b24f4f, #e8c1c1);
    border-radius: 12px 12px 0 0;
}

.enterprise--btn {
    color: white;
    background: linear-gradient(to right, #b24f4f, #e8c1c1);
}

/*

TESTIMONIALS

*/

.testimonials__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 64px 0;
}

.testimonials__container .row {
    width: 100%;
    margin: 0 auto;
}

.testimonials__pic {
    width: 100%;
    max-width: 50%;
}

.testimonials__description {
    flex: 1;
    min-width: 0;
    margin-left: 56px;
}

.testimonials__sub--head,
.testimonials__head,
.testimonials__para {
    margin: 10px 0;
}

.testimonials__sub--head {
    font-size: 20px;
}

.testimonials__head {
    font-size: 48px;
}

.testimonials__para {
    margin-top: 32px;
    margin-bottom: 40px;
}

.fa-star,
.ue__title,
.ue__para {
    margin: 12px 0;
}

.fa-star {
    color: rgb(250, 222, 41);
}

.ue__title {
    font-size: 16px;
}

.testimonials--row {
    align-items: center;
}

.user__photo {
    width: 80px;
    height: auto;
    border-radius: 60px;
}

.user__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.user__name {
    font-size: 16px;
}

.user__sub {
    color: #0000005f;
}

.change__user--btns {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.change__user--btn {
    font-size: 16px;
    font-weight: bold;
    color: rgb(100 21 255);
    padding: 16px;
    border: none;
    border-radius: 32px;
}

.change__user--btns:hover {
    cursor: not-allowed;
}

/*

FUNBOX 

*/

.funbox__container {
    display: flex;
    flex-direction: column;
    margin: 68px;
    padding: 48px 0 100px 0;
}

.funbox__content {
    background-color: rgb(100 21 255);
    width: 100%;
    height: 200px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 96px;
}

.funbox__quote {
    color: #fff;
    max-width: 32%;
    font-size: 20px;
    margin-right: 40px;
}

.funbox__btns {
    display: flex;
    gap: 24px;
    margin-left: 60px;
}

.funbox__btn {
    font-weight: bold;
    width: 144px;
    border-radius: 32px;
    padding: 20px;
}

.funbox__btn:hover {
    cursor: pointer;
}

.left--btn {
    color: white;
    background-color: rgb(252, 145, 78);
    border: none;
}

.left--btn:hover {
    background-color: rgb(236, 114, 38);
}

.right--btn {
    color: white;
    background-color: rgb(100 21 255);
    border-color:#fff;
}

.right--btn:hover {
    background-color: #747bf2;
    border: none;
}

/*

FOOTER

*/

footer {
    width: calc(100% + 40px);
    background-color: #747af2;
    color: white;
    padding: 88px;
    margin: 0 -20px -20px -20px;
    overflow: hidden;
}

.footer__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.links {
    width: 100%;  
    display: flex;
    border-bottom: 1px solid #0000002f;
    justify-content: space-between;
    padding-bottom: 16px;
    z-index: 2;
}

.link {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.link li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link__head {
    font-weight: bold;
    margin-bottom: 32px;
}


.footer__info {
    position: relative;
    background-color: #747bf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.treact {
    display: flex;
    align-items: center;
}

.footer__logo {
    width: 48px;
    height: auto;
    margin-right: 10px;
}

.footer__lcn {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.footer__social--links {
    display: flex;
    cursor: pointer;
}

.footer__social--links i {
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: rgb(100 21 255);
    border: 1px solid rgb(100 21 255);
    font-size: 20px;
    border-radius: 24px;
    margin: 0 10px;
    padding: 9px;
}

.circle__bl1 {
    position: absolute;
    z-index: -1;
    top: -50%;
    right: 96%;
    width: 224px;
    height: auto;
    opacity: 1;
}
.circle__bl2 {
    position: absolute;
    top: 40%;
    bottom: -180%;
    left: 100%;
    width: 172px;
    height: auto;
    z-index: 1;
}

/*

MEDIA QUERIES

*/

@media (min-width: 1201px) {
    .circle__bl1 {
        top: -40%;
        left: -39%;
    }

    .circle__bl2 {
        top: 88%;
        left: 120%;
    }

}

@media (max-width: 1024px) {
    .header__container .row {
        display: flex;
        flex-direction: column;
    }

    .header__description {
        align-items: center;
    }

    .header__title {
        font-size: 48px;
    }
    
    .header__para {
        width: 72%;
        text-align: center;
    }


    .header__form {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .landing__logos {
        width: 72%;
    }

    .comp__girl {
        width: fit-content;
        margin-top: 20px;
    }

    .quality__pic {
        width: 50%;
        min-width: 0;
        max-width: 544px;
        height: auto;
        object-fit: contain;
    }

    .img__container {
        margin-top: 96px;
    }
    
    .price__plan {
        max-width: 288px;
    }

    .funbox__content {
        margin: 0 auto;
    }

    .funbox__quote {
        font-size: 16px;
        text-align: center;
    }
}


  @media (max-width: 951px) {
    .nav__links {
        font-size: 16px;
        gap: 0px;
    }

    .company__name {
        font-size: 24px;
    }

    .form__container {
        max-width: 100%;
        justify-content: center;
    }

    .header__form {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .feat__para {
        padding: 0 120px;
    }

    .steps__pic {
        margin-top: 88px;
    }

    .steps__dots {
        transform: rotate(90deg)translateX(272%);
    }

    .pricing__para {
        padding: 0 120px;
    }

    .funbox__content {
        flex-direction: column;
    }

    .funbox__quote {
        max-width: 100%;
        margin: 0 0 24px 0;
    }

    .funbox__btns {
        margin: 0;
  }
}
/*

SMALL PHONES, TABLETS, LARGE SMARTPHONES

*/

@media (max-width: 768px) {
    .burger__menu {
        display: block;
        font-size: 40px;
        cursor: pointer;
    }

    .nav__links {
        display: none;
    }

    .header__description {
        justify-content: center;
    }

    .header__title {
        font-size: 40px;
        text-align: center;
    }

    .form__container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .comp__girl {
        width: 100%;
        margin: 20px 0;
    }

    .feat__container {
        padding: 40px 32px 0 0;
    }

    .feat__head {
        font-size: 40px;
    }

    .feat__services {
        width: calc(100% / 2);
        padding: 16px;
    }

    .feat__serv--head {
        font-size: 16px;
    }

    .feat__serv--para {
        font-size: 14px;
    }

    .quality__head {
        font-size: 40px;
    }

    .quality__para {
        font-size: 14px;
    }

    .steps__container .row {
        flex-direction: column;
        align-items: center;
    }

    .img__container, .steps__description {
        width: 100%;
    }

    .steps__container {
        padding: 0px 0px 40px 0px;
    }

    .img__container {
        margin-top: 16px;
    }

    .steps__dots {
        transform: rotate(90deg)translateX(224%);
    }

    .steps__description {
        margin-top: 80px;
        align-items: center;
    }

    .steps__sub--head {
        margin-top: 24px;
    }

    .steps__head {
        font-size: 40px;
    }

    .steps__steps {
        margin-top: 24px;
        width: 100%;
        justify-content: center;
    }
    .steps__item {
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        width: 100%;
        max-width: 400px;
        margin: 0 auto 40px auto;
    }

    .steps__num--descript {
        align-items: flex-start;
    }

    .steps__num {
        margin-right: 32px;
        margin-bottom: 0;
    }

    .steps__num--head {
        font-size: 16px;
    }

    .steps__num--para {
        font-size: 14px;
    }

    .values__head {
        font-size: 40px;
    }

    .values__para {
        font-size: 14px;
    }

    .values__princ--head {
        font-size: 14px;
    }

    .values__princ--para {
        font-size: 14px;
    }

    .pricing__container {
        padding: 40px 0;
    }

    .pricing__head {
        font-size: 40px;
    }

    .pricing--row {
        flex-direction: column;
    }

    .price__plan {
        width: 100%;
        margin-top: 40px;
    }

    .testimonials__container {
        padding: 24px 0;
    }

    .testimonials__head {
        font-size: 40px;
    }

    .testimonials__para {
        font-size: 14px;
    }

    .ue__title {
        font-size: 14px;
    }

    .ue__para {
        font-size: 14px;
    }

    .user__name {
        font-size: 14px;
    }

    .funbox__content {
        margin: 0;
    }

    .circle__bl1 {
        top: -40%;
    }

    .footer__info {
        flex-direction: column;
        gap: 40px;
    }

    .circle__bl2 {
        top: 88%;
    }
   
}

/*
SMALL PHONES

*/

@media (max-width: 550px) {
    .header__title {
        text-align: center;
    }

    .header__form {
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }

    .header__form input[type="email"] {
        height: 68px;
    }

    .header__form button {
        position: static;
        transform: none;
        height: 68px;
        width: 100%;
    }

    .feat__container {
        padding: 0;
    }

    .feat__services {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .feat__serv--icon {
        margin-right: 0;
    }

    .feat__serv--descript {
        align-items: center;
    }

    .features__para {
        text-align: center;
    }

    .quality__container {
        margin: 40px 0 0 0;
    }

    .quality__container .row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .quality__pic {
        width: 100%;
    }

    .quality__description {
        width: 100%;
    }

    .steps__dots {
        transform: rotate(90deg) translateX(272%);
    }

    .values__container .row {
        flex-direction: column-reverse
    }

    .values__description {
        width: 100%;
    }

    .values__sub--head {
        margin-top: 24px;
    }

    .values__pic {
        width: 100%;
    }

    .values__princ {
        width: 100%;
        gap: 24px;
    }

    .values__princ--para {
        max-width: 100%;
    }

    .testimonials__container .row {
        flex-direction: column;
    }

    .testimonials__pic {
        width: 100%;
        max-width: 100%;
    }

    .testimonials__description {
        margin: 0;
    }

    .user__names {
        padding: 20px 0 0 0;
    }

     .change__user--btns {
        margin: 0;
        padding: 20px 0 0 0;
       
    }

    .funbox__container {
        margin: 0 auto;
    }

    .funbox__content {
        width: 100%;
        margin: 0;
        
    }

    .funbox__btns {
        flex-direction: column;
        gap: 12px;
    }

    .link {
        width: calc(100% / 2);
        align-items: center;
        justify-content: center;
    }

    .link:last-child {
        width: 100%;
    }

    .links {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 12px;
    }

    .circle__bl1 {
        top: -32%;
        right: 88%;    
        width: 288px;
    }
}